html, body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#room {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  width: 600px;
  border: 1px solid #ddd;
  height: 50px;
  padding: 0 20px;
  font-size: 14px;
}

#username {
  display: none;
}

#text {
  width: 550px;
  margin-left: -50px;
}

#submit {
  width: 50px;
  height: 50px;
  font-size: 14px;
  background: #069;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  margin-left: 550px;
  margin-top: -50px;
  cursor: pointer;
}

#logout_submit {
  width: 50px;
  height: 50px;
  font-size: 14px;
  background: #069;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  margin-top: 10px;
  margin-left: 725px;
  cursor: pointer;
}

#messages {
  width: 600px;
  height: 400px;
  margin: 20px 0;
  border: 1px solid #ddd;
  padding: 20px;
}
